/* App */

#mainContainer {
    display: flex;
    flex-direction: column;
}

/* Header */

#header {
    background: linear-gradient(45deg, #b2ebf2 30%, #FF8E53 90%);
    height: 100px;
    width: 100%;
    text-align: center;
    position: relative;
}

#loginButtons {
    position: absolute;
    top: 0;
    right: 20px;
    width: 100px;
}

#loginOut {
    height: 50px;
    width: 100px;
}

#register {
    height: 50px;
    width: 100px;
}

#navContainer {

    display: inline;
}

#navDashboard {
    width: 50%;
    height: 29px;
    text-align: center;
    float: left;
}

#navInfo {
    width: 50%;
    height: 29px;
    text-align: center;
    float: left;
}

/*ToneComponent */

#mainViewDiv {
    display: flex;
    width: 100%;
    flex-direction: row;
    float: left;
}

#spinnerDiv {
    display: flex;
    width: 100%;
    height: 80%;
    align-content: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ffff72; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* #subContainer {

} */

/*Dashboard And Info Div*/

#dashboardAndInfoDiv {
    width: 90%
}

#libraryDiv {
    width: 20%;
}
    

/*Dashboard*/

#selectSoundContainer {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
  }



#selectSound {
    padding: 10px;
    display: flex;

}

#sliderBalanceContainer {
    position: relative;
    display: flex;
    justify-content: center;
  }

#sliderBalanceSubContainer {
    width: 200px;
    height: 50px;
}

#sliderBalanceLabel {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

#sliderBalance {
    position: absolute;
    height: 50px;
    margin-left: 98px;
}

#sliderBinauralContainer {
    padding: 10px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
  }

#sliderBalanceSubContainer {
    width: 250px;
}

#sliderBinauralLabel {
    position: absolute;
    margin-left: 90px;
    margin-top: 135px;
}

sliderBinauralSpecificLabel {
    position: absolute;
    margin-right: 0px;
    margin-top: 20px;
}

#sliderBinaural {
    margin-left: auto;
    margin-bottom: 0px;
}

#sliderVolumeContainer {
    display: flex;
    flex-direction: row;
}
  
  #sliderVolume {
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;
  }

  #sliderVolumeIcon {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 10px;
  }


  
.playStopIcon {
    transform: scale(4);
}
